
<h3>Please sign up:</h3>

<form class="signform" id="signup-form" action="/users" method="post">
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required value=""/>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required/>
  </div>
  <div>
    <button type="submit">Sign up</button>
  </div>
</form>
